{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">


    <title>Онлайн магазин Биба и Боба</title>
    <link rel="stylesheet" href="{% static 'main/css/Korz.css' %}">
</head>

<body>

	<nav class="sh">
		 <div class="shapka">
                    <a href="{% url 'main' %}" class="brand">Онлайн магазин Биба и Боба</a>
                    <div class="wrap">
                        <ul class="menu">
                            <li><a href="{% url 'start' %}">Стартовая страница</a></li>
                            <li><a href="#">Избранное</a></li>
                            <li><a href="{% url 'korz' %}">Корзина</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                        </ul>

                        {% if request.user.is_authenticated %}
                        <a href="{% url 'prof' %}" class="profile">Профиль</a>
                        {% else %}
                        <a href="{% url 'auth' %}" class="profile">Авторизация</a>
                            {% endif %}
                    </div>

                </div>
	</nav>
		
	
	<p style="font-size: 30px; border-bottom: 5px; text-align: center;">Моя корзина</p>
	<hr align="center" style="border: 1px solid black; width: 1700px; margin: -20px 0 15px 50px">

	<div>
		<p style="font-size: 26px; text-align: right; margin-right: 100px; margin-top: 100px;">
			Итого:
			<!--сумма цены-->
			{{tp}}
			руб.
		</p>
	</div>

	<table>
		{% for c in ord %}
		{% if request.user == c.Order_User %}
		<tr>
			<td>
				<img src='{{ c.Order_Prod.Photo.url }}' width="300px"> <!-- Фото, можно было не подписывать =D -->
			</td>
			<td>
				{{ c.Order_Prod.Tittle }} <!-- Название -->
				{{ c.Order_Prod.Price }} <!-- Цена -->
					{{ c.Quantity }} <!-- Количество -->
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	
	
	<div class="podval" style="margin-top: 600px;">
        <p> Контактная информация: &emsp;Phone:+7(902)**** ; &emsp;Email: GambitCorp@gmail.com; &emsp;Адрес: г.Красноярск, КрасРаб 31А; </p>
    </div>
</body>
</html>