{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">


    <title>Онлайн магазин Биба и Боба</title>
    <link rel="stylesheet" href="{% static 'main/css/Main.css' %}">
</head>
<body>
    <nav class="sh">
                <div class="shapka">
                    <a href="{% url 'main' %}" class="brand">Онлайн магазин Биба и Боба</a>
                    <div class="wrap">
                        <ul class="menu">
                            <li><a href="{% url 'start' %}">Стартовая страница</a></li>
                            <li><a href="#">Избранное</a></li>
                            <li><a href="{% url 'korz' %}">Корзина</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                        </ul>

                        {% if request.user.is_authenticated %}
                        <a href="{% url 'prof' %}" class="profile">Профиль</a>
                        {% else %}
                        <a href="{% url 'auth' %}" class="profile">Авторизация</a>
                            {% endif %}
                    </div>

                </div>
    </nav>
    <p align="center" style="font-size: 30px; border-bottom: 5px;">Мы сможем Вам помочь в выборе цветов!</p>
	<hr align="center" style="border: 1px solid black; width: 900px; margin-top: -15px; margin-bottom: 20px;">


	<table>
		<tr>
			<td width="300px">
				<div class="category">
					<ul class="category-menu">
						{% if cat_selected == 0 and sub_cat_selected == 0 %}
						<li >Все товары</li>
							{% else %}
						<li><a href="{% url 'main' %}" style="color: black; ">Все товары</a></li>
							{% endif %}

					{% for c in cat %}
					{% if c.pk == cat_selected %}
					<li>{{c.Tittle}}</li>
					{% else %}
					<li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</li>
					{% endif %}
					{% for s_c in sub_cat %}
					{% if s_c.Cat.pk == c.pk %}
					{% if s_c.pk == sub_cat_selected %}
					<li>{{s_c.Tittle}}</li>
					{% else %}
					<li><a href="{{ s_c.get_absolute_url }}" style="color: black; font-size: 18px; margin-left: 15px;"><b>{{s_c.Tittle}}</b></a> </li>
					
						
										
					{% endif %}
					{% endif %}
					{% endfor %}
					{% endfor %}
					</ul>
				</div>
			</td>
			<td width="1600px">
				<!--<p style="color: black; margin-left: 100px; font-size: 22px; font-weight: bold;">Хиты продаж</p>-->
				<table>
					<tr>
					{% for pr in products %}
					<table>
						<tr>
						<td>
							<img src='{{ pr.Photo.url }}' width="300px">
						</td>
						<td>
							<div style="font-weight: bold; text-indent: 30px;">
								{{ pr.Tittle }}
							</div>
							<div style="font-size: 18px; text-indent: 30px;">
								{{ pr.Text }}
							</div>

							<div style="text-indent: 30px; margin-top: 10px;">
								<i>{{ pr.Price }} <label>руб.</label></i> <br><br>
							</div>
							{% if request.user.is_authenticated %}
							<a href="{{pr.get_absolute_url}}" style="margin-left: 20px; padding: 10px 60px; background-color: #222222; color: white">Купить</a>
							{% else %}
							<a href="{% url 'auth' %}" style="margin-left: 20px; padding: 10px 60px; background-color: #222222; color: white">Авторизация</a>
							{% endif %}
							<br><br>
						</td>
							<hr style="border: 1px solid black;">
						</tr>
						</table>
						{% endfor %}
					</tr>
				</table>
			</td>
		</tr>
	</table>


<!--
	<nav class="category">
		<div class="concat">
			<ul class="category-menu">
				<li><a href="#">Акции</a></li>
				<li><a href="#">|</a></li>
				<li><a href="#">Цветы</a></li>
				<li><a href="#">|</a></li>
				<li><a href="#">Букеты</a></li>
				<li><a href="#">|</a></li>
				<li><a href="#">Композиции</a></li>
			</ul>
		</div>
	</nav>




	<p>Хиты&nbsp;продаж:</p>
	<table border="1" style="border-collapse: collapse; width: 67.6775%; height: 260px;">
		<tbody>
			<tr style="height: 242px;">
				<td style="width: 25%; height: 242px; text-align: center;"><img src="https://flowers-sib.ru/upload/iblock/9e6/9e6259cd6fc4a14574c8c77da6d90f07.jpg" width="200" height="214" alt="" /></td>
				<td style="width: 25%; height: 242px; text-align: center;"><img src="https://flowers-sib.ru/upload/resize_cache/iblock/122/1350_1350_1/1228a304b22e179df2826b1c6ac6ad0e.jpg" width="200" height="238" alt="" /></td>
				<td style="width: 37.459%; height: 242px; text-align: center;"><img src="https://labyket24.ru/wp-content/uploads/2021/07/img_6044-scaled-1.jpg" width="200" height="267" alt="" /></td>
			</tr>
			<tr style="height: 18px;">
				<td style="width: 25%; height: 18px; text-align: center;"><strong>Букет: Скарлет</strong></td>
				<td style="width: 25%; height: 18px; text-align: center;"><strong>Букет: Весенняя&nbsp;легкость</strong></td>
				<td style="width: 37.459%; height: 18px; text-align: center;"><strong>Букет:&nbsp;Вялая&nbsp;хуйня</strong></td>
			</tr>
		</tbody>
	</table>
-->
</body>
</html>