{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">


    <title>Онлайн магазин Биба и Боба</title>
    <link rel="stylesheet" href="{% static 'main/css/St.css' %}">
</head>

<body>

	<nav class="sh">
		<div class="shapka">
                    <a href="{% url 'main' %}" class="brand">Онлайн магазин Биба и Боба</a>
                    <div class="wrap">
                        <ul class="menu">
                            <li><a href="{% url 'start' %}">Стартовая страница</a></li>
                            <li><a href="#">Избранное</a></li>
                            <li><a href="#">Корзина</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                        </ul>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'prof' %}" class="profile">Профиль</a>
                        {% else %}
                        <a href="{% url 'auth' %}" class="profile">Авторизация
                            {% endif %}
                    </div>

                </div>
	</nav>


	<p align="center" style="font-size: 30px; border-bottom: 5px;">Начните пользоваться сервисом прямо сейчас!</p>
	<hr align="center" style="border: 1px solid black; width: 900px; margin-top: -15px; margin-bottom: 10px;">
	<div class="img">
		<img src="{% static 'main/images/123.png' %}" >
	</div>

	<div class="podval" style="margin-top: 50px;">
        <p> Контактная информация: &emsp;Phone:+7(902)**** ; &emsp;Email: GambitCorp@gmail.com; &emsp;Адрес: г.Красноярск, КрасРаб 31А; </p>
    </div>
</body>
</html>